body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    display: block;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

ul {
    text-align: center;
    font-size: 20px;
    color: orange;
    padding: 20px 10px;
    display: block;

}

ul li {
    display: inline-block;
}